:root{
  overflow-x: hidden;
  
}

body{
  
  font-size: 20px;
  margin: 0px;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-areas:
  "header header header"
  ". main ."
  "footer footer footer" ;

  grid-template-columns: auto 75% auto;
  grid-template-rows: auto 1fr auto;
  
}

header{
  width: 100vw;
  height: 10vh;
  background-color: #bd904e;
  grid-area: header;
}

#logo{
  height: 10vh;
  display: flex;
  justify-content: center;
}

main{
  grid-area: main;
}

.text, .books{
  text-align: center;
}

.books{
  margin: 50px 0px 30px 0px;
  height: auto;
  width: auto;
  border-radius: 20px;
  background-color: #fcf2e3;
}

.book-title{
  height: auto;
  width: auto;
  border-radius: 20px 20px 0px 0px;
  background-color: #3c3327bc;
  color: #fff;
}


.buy-buttom{ 
  height: 30px;
  width: auto;
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: #28e935;
}
.buy-link{
  size: auto;
  color: #fff;
  text-decoration: none;
}


.link{
  text-decoration: none;
  color: white;
}

#link-2{
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 15px;
  margin: 20px;
}

.link-center{
  margin: 10px;
  display: flex;
  justify-content: center;
}

footer{
  width: 100vw;
  height: 5vh;
  background-color: #bd904e;
  grid-area: footer;
}


